body{
  position: relative;
  width: 100%;
  height: 10vh;
  background: url("3R/treewater.jpeg") no-repeat center center fixed;
  background-size: cover;
}


.head{
  width: 100%;
  float: left;
  /*background-color: blue;*/
}



.logo{
  width: 10%;
  z-index: 1;
}


.toggle{
  position: fixed;
  top: 250px;
  right: 20px;
  width: 200px;
  height: 90px;
  border-radius: 10px;
  background: #0fd898;
  cursor: pointer;
  z-index: 2;
}

.toggle:before{
  content: 'Reduce';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  width: 200px;
  height: 90px;
  color: #fff;
  transition: 0.5s;
  border-radius: 10px;
  line-height: 70px;
}

.toggle.active:before{
  transform: rotate(360deg);
}

.overlay{
  position: fixed;
  top: 250px;
  right: 20px;
  width: 200px;
  height: 90px;
  border-radius: 50%;
  background: rgba(0,0,0,0.95);
  transition: transform 0.5s;
}

.overlay.active{
  transform: scale(30);
  z-index: -1;
}

.reduce{
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: -1;
  visibility: hidden;
}

.reduce.active{
  visibility: visible;
  z-index: -1;
}

.reduce ul{
  position: absolute;
  top: 400%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
}

.reduce ul li{
  list-style: none;
}

.reduce ul li a{
  position: relative;
  font-size: 48px;
  text-decoration: none;
  color: #fff;
  margin: 20px 0;
  display: block;
  font-weight: bold;
  text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.toggle2{
  position: fixed;
  top: 380px;
  right: 20px;
  width: 200px;
  height: 90px;
  border-radius: 10px;
  background: #0fd898;
  cursor: pointer;
  z-index: 1;
}

.toggle2:before{
  content: 'Reuse';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  width: 200px;
  height: 90px;
  color: #fff;
  transition: 0.5s;
  border-radius: 10px;
  line-height: 70px;
}

.toggle2.active:before{
  transform: rotate(360deg);
}

.reuse{
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  visibility: hidden;
}

.reuse.active{
  visibility: visible;
  z-index: 1;
}

.reuse ul{
  position: absolute;
  top: 400%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
}

.reuse ul li{
  list-style: none;
}

.reuse ul li a{
  position: relative;
  font-size: 48px;
  text-decoration: none;
  color: #fff;
  margin: 20px 0;
  display: block;
  font-weight: bold;
  text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.toggle3{
  position: fixed;
  top: 510px;
  right: 20px;
  width: 200px;
  height: 90px;
  border-radius: 10px;
  background: #0fd898;
  cursor: pointer;
  z-index: 1;
}

.toggle3:before{
  content: 'Recycle';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
  width: 200px;
  height: 90px;
  color: #fff;
  transition: 0.5s;
  border-radius: 10px;
  line-height: 70px;
}

.toggle3.active:before{
  transform: rotate(360deg);
}

.recycle{
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  visibility: hidden;
}

.recycle.active{
  visibility: visible;
  z-index: 1;
}

.recycle ul{
  position: absolute;
  top: 400%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
}

.recycle ul li{
  list-style: none;
}

.recycle ul li a{
  position: relative;
  font-size: 48px;
  text-decoration: none;
  color: #fff;
  margin: 20px 0;
  display: block;
  font-weight: bold;
  text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.image1{
  position: relative;
  left: 20%;
  z-index: -1;
}

.image2{
  position: relative;
  left: 25%;
  z-index: -1;
}

.footer{
  position: absolute;
  width: 1800px;
  height: 300px;
  top: 950%;
  background-color: #847d70;
  opacity: 0.9;
  margin-top: 10px;
  z-index: -2;
}

.ddm2itemsContainer {
    width: 200px;
    height: 100px;
    white-space: nowrap;
    display: inline-block;
    overflow: visible;
    width: calc(100% - 0px);
    background-color: rgba(42, 42, 42, 1);
    border-radius: 0;
    border: solid 0px rgba(42, 42, 42, 1);
    position: relative;
}


.mySlides{
  position: absolute;
  left: 10%;
  z-index: -1;
}

.head2{
  position: absolute;
  top:10%;
  right: 10%;
  width: 80%;
  float: right;
  z-index: -1;
  background-color: white;
  opacity: 0.7;
  /*background-color: red;*/

}

.content{
  position: absolute;
  width: 30%;
  top: 300%;
  left:  53%;
  background-color: white;
  opacity: 0.7;
  z-index: -1;
}

.container1{
  position: absolute;
  top: 10%;
  z-index: -1;

}

.container2{
  position: absolute;
  top: 10%;
  right: 40%;
  z-index: -1;

}

.container3{
  position: absolute;
  top: 10%;
  left: 120%;
  z-index: -1;

}

.news{
  position: absolute;
  width: 250px;
  top: 800%;
  left: 15%;
}
