a:link {
  text-decoration: none;}

a:visited {
  color: black;}

a:hover {
  color: cyan;}

h2{
  padding: 20px 15px;}

h4{
    padding: 20px 15px;}

p{
    padding: 20px 15px;}

#about{
  background-color: #f9e76d;
}
